<form [formGroup]="resetForm" (ngSubmit)="resetFormSubmit()" class="mt-4">
  <div class="col-sm-12">
    <h4>Reset Password</h4>
    <p>Please provide your registered email. <br>If we find a match, you'll receive instructions to reset your password
    </p>
  </div>

  <div class="col-sm-12 ">
    <app-input formControlName="email" prefixIcon="email"
               label="Email Address" placeholder="Email" type="email"/>
    @if(isResetSubmit && control['email'].invalid){
      <mat-error>
        @switch (true) {
          @case(control['email'].hasError('email')){
            Provide valid email address
          }
          @default {
            Email is required
          }
        }
      </mat-error>
    }
  </div>
  <div class="col-sm-12 mb-3">
    <app-button text="Reset Password"></app-button>
  </div>
  <div class="col-sm-12 text-end">
    Already have an account? <a routerLink="/auth/login">Login here!</a>
  </div>
</form>
