.has-image-background {
  min-height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: flex-end;
  color: white;

}

.is-overlay {
  display: block;
  position: relative;
  border-radius: 10px 10px 0 0;
  padding-left: 7px;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.1)
  );
}

.is-overlay h2 {
  background-color: #f0f8ffed;
  margin: auto 0 0 -7px;
  padding: 0 7px;
  border-radius: inherit;
}

.is-overlay .col-sm-3 img {
  max-height: 180px;
  bottom: -50px;
  left: 5%;
}

.is-overlay .row .col-sm-9 {

}


