/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-error {
  margin-top: -21px;
  margin-bottom: 10px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.text-accent {
  color: #ff4081 !important;
}
.text-warn {
  color: #F44336;
}
.small-button {
  padding: 4px 8px;
  font-size: 0.75rem;
  min-width: 40px;
}

