
<mat-drawer-container [hasBackdrop]="false" class="h-100" >
  <mat-drawer #drawer [mode]="isMobile ? 'push':'side'" [class]="isMobile? 'w-75':'w-25'" [opened]="!isMobile">
    <app-sidebar (closeEventEmitter)="isMobile ? drawer.toggle():null" ></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-topbar
      [isMobile]="isMobile"
      (toggleEventEmitter)="drawer.toggle()">
    </app-topbar>
    <div class="m-2">
      <router-outlet></router-outlet>
    </div>
 </mat-drawer-content>
</mat-drawer-container>





